form{
    font-family: serif,sans-serif,monospace;
    color: #0b6ff1;
    margin: auto;
    width: 580px;
    background: rgba(239, 243, 18, 0.973);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}


input,textarea{
    outline: none;
    border: solid 1px #21fc1a;
    width: 500px;
    padding: 10px;
    color: #fa61d4;
}
input,select{
    outline: none;
    border: solid 1px #e923a7;
    color: #b4c985;
}
input.bt{
    color: rgb(116, 173, 211);
    background:rgb (207, 124, 207);
}